parameters:
    doctrine:
        objectManagerLoader: tests/object-manager.php
    level: 8
    paths:
        -  %currentWorkingDirectory%/src
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    excludePaths:
        - %currentWorkingDirectory%/src/Migrations/*
